body{
    caret-color: rgb(250,250,250);

    background: linear-gradient(89deg,rgb(245, 241, 245) 0%,rgb(80, 225, 241));
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    display: flex !important;
    justify-content: center !important;
    font-family: "Catamaran", sans-serif !important;
    line-height: 1.4 !important;
    font-size: 1.50rem !important;
    font-weight: 300 !important;
    letter-spacing:0.1rem !important;
    color: rgba(25, 10, 235, 0.705);
}
.image{
    width: 370px;
    margin:30px ;
}

@media(max-width:770px){
    .container{
        margin: 0 10%;
    }
    .image{
        width: 100%;
    }
}